<p id="notice"><%= notice %></p>

<p><%= @user.avatar.inspect%><p>
<%= image_tag @user.avatar, :height => '200', :width => '200'%>

<%= link_to 'New Image', new_image_path %>

<%@user.images.each do |i|%>
	<div>
		<strong>File:</strong>
		<%= image_tag i.file, :height => '320', :width => '320'%>
	</div>
<%end%>

<!-- <%= link_to 'Edit', edit_user_path(@user) %> | -->
<%= link_to 'Back', users_path %>
