<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<div class="user-info">
			<%= image_tag @user.avatar, class: "avatar" %>
			<%= link_to 'Edit', edit_user_path %>
			<!--<%= link_to 'Back', users_path %>-->
		</div>
	</div>
</div>
<div class="col-sm-3 col-md-3 sidebar custom-border">
          <ul class="nav nav-sidebar">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Change email</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
</div>

<div class="col-xs-12 col-sm-9">

<div style="margin-bottom: 100px;">
<p><%= @user.email%><p>
<%= image_tag @user.avatar, :height => '200', :width => '200'%>

<%@user.images.each do |i|%>
	<div>
		<strong>File:</strong>
		<p> Title <%= i.title %></p>
		<%= image_tag i.file, :height => '320', :width => '320'%>
		<p> Date<%= i.created_at%></p>
	</div>
<%end%>
<p style="margin-top: 10px"><button class="btn btn-default"><i class="fa fa-upload"></i> <%= link_to 'New Image', new_image_path %></button></p>

<button><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <%= link_to 'Edit', edit_user_path(@user) %></button>
<button><i class="fa fa-arrow-left" aria-hidden="true"></i> <%= link_to 'Back', users_path %></button>
</div>

