<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<div class="user-info">
			<%= image_tag @user.avatar, class: "avatar" %>
			<%= link_to 'Edit', edit_user_path %>
			<!--<%= link_to 'Back', users_path %>-->
		</div>
	</div>
</div>

<%@user.images.each do |i|%>
	<div>
		<strong>File:</strong>
		<%= image_tag i.file, :height => '320', :width => '320'%>
	</div>
<%end%>
