<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<%= render 'follow_form' if user_signed_in? %>
		<div class="user-info">
			<section class="stats">
        <%= render 'shared/stats' %>
      </section>
			<div class="avatar">
			<%= image_tag @user.avatar, :height => '100', :width => '100', class: "avatar"%>
			</div>
			<% if current_user == @user%>
			<%= link_to 'Edit User', edit_user_path %>
			<%end%>
			<!--<%= link_to 'Back', users_path %>-->
		</div>
	</div>
</div>

<%@user.images.each do |i|%>
	<div>
		<strong>File:</strong>
		<%= image_tag i.file, :height => '320', :width => '320'%>
	</div>
<%end%>
