<p id="notice"><%= notice %></p>
<div class="post">
	<div class="post-info">	
		<div class="avatar">
			<% if @image.user.avatar.url != nil %>
				<%= image_tag(@image.user.avatar.url) %>
			<% end %>
		</div>
		<div class="user-email">
			<%= @image.user.email %> posted an image
		</div>
		<div class="time-stamp">
			<%= time_ago_in_words(@image.created_at) %> ago
		</div>
	</div>
	<div class="image">
		<%= image_tag(@image.file.url) %>
	</div>
	<div class="like-statis" id="image-like-statis-<%= @image.id %>">
		<%= pluralize(@image.likes.size, "like") %>
	</div>
	<div class="comments-path">
		<div class="comments-list" id="<%= @image.id%>">
			<% @image.image_comment.each do |image_comment|%>
				<%= render "image_comments/single_comment", image_comment: image_comment%>
			<% end %>
		</div>
		<div id="image-like-<%= @image.id %>" class="like-form">
			<%= render "likes/like_form", image: @image %>
		</div>
		<%= render 'shared/comment_form', image: @image %>
	</div>
</div>